body {
    background-image: url('images/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: blur(10px);
    z-index: -1;
}

h1 {
    text-align: center;
    padding-top: 20%;
}

#p1 {
    text-align: center;
    color: grey;
    font-size: 10px;
}


#btnpwcalc {
    background-color: #eee;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    width: 7em;
    border-radius: 1rem;
    color: lightcoral;
    box-shadow: 0 0.4rem #dfd9d9;
    cursor: pointer;
    margin-left: 400px;
}

#btnpwcalc:active {
    color: white;
    box-shadow: 0 0.2rem #dfd9d9;
    transform: translateY(0.2rem);
}

#btnpwcalc:hover:not(:disabled) {
    background: lightcoral;
    color: white;
    text-shadow: 0 0.1rem #bcb4b4;
}

#btnpwcalc:disabled {
    cursor: auto;
    color: grey;
}

#btncodes {
    background-color: #eee;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    width: 7em;
    border-radius: 1rem;
    color: lightcoral;
    box-shadow: 0 0.4rem #dfd9d9;
    cursor: pointer;
}

#btncodes:active {
    color: white;
    box-shadow: 0 0.2rem #dfd9d9;
    transform: translateY(0.2rem);
}

#btncodes:hover:not(:disabled) {
    background: lightcoral;
    color: white;
    text-shadow: 0 0.1rem #bcb4b4;
}

#btncodes:disabled {
    cursor: auto;
    color: grey;
}

#btnmoncalc {
    background-color: #eee;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    width: 7em;
    border-radius: 1rem;
    color: lightcoral;
    box-shadow: 0 0.4rem #dfd9d9;
    cursor: pointer;
}

#btnmoncalc:active {
    color: white;
    box-shadow: 0 0.2rem #dfd9d9;
    transform: translateY(0.2rem);
}

#btnmoncalc:hover:not(:disabled) {
    background: lightcoral;
    color: white;
    text-shadow: 0 0.1rem #bcb4b4;
}

#btnmoncalc:disabled {
    cursor: auto;
    color: grey;
}

#btnchg {
    background-color: #eee;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    width: 7em;
    border-radius: 1rem;
    color: lightcoral;
    box-shadow: 0 0.4rem #dfd9d9;
    cursor: pointer;
}

#btnchg:active {
    color: white;
    box-shadow: 0 0.2rem #dfd9d9;
    transform: translateY(0.2rem);
}

#btnchg:hover:not(:disabled) {
    background: lightcoral;
    color: white;
    text-shadow: 0 0.1rem #bcb4b4;
}

#btnchg:disabled {
    cursor: auto;
    color: grey;
}

#btninfo {
    background-color: #eee;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    width: 7em;
    border-radius: 1rem;
    color: lightcoral;
    box-shadow: 0 0.4rem #dfd9d9;
    cursor: pointer;
}

#btninfo:active {
    color: white;
    box-shadow: 0 0.2rem #dfd9d9;
    transform: translateY(0.2rem);
}

#btninfo:hover:not(:disabled) {
    background: lightcoral;
    color: white;
    text-shadow: 0 0.1rem #bcb4b4;
}

#btninfo:disabled {
    cursor: auto;
    color: grey;
}

a {
    text-decoration: none;
    color: lightcoral;
}

a:hover {
    color: white
}

footer {
    text-align: center;
    bottom: 0;
    position: fixed;
    left: 0;
    width: 100%;
    margin-top: 20px;
}