body {
    background-image: url('images/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: blur(10px);
    z-index: -1;
}